In [43]:
import pandas as pd

In [44]:
budgets = pd.read_csv("data/tn.movie_budgets.csv")

In [45]:
budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [46]:
budgets.shape

(5782, 6)

In [47]:
budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [48]:
budgets['production_budget'] = budgets['production_budget'].str.replace("$", "").str.replace(",", "").astype(int)

In [49]:
budgets['domestic_gross'] = budgets['domestic_gross'].str.replace("$", "").str.replace(",", "").astype(int)

In [50]:
budgets['worldwide_gross'] = budgets['worldwide_gross'].str.replace("$", "").str.replace(",", "").astype('int64')

In [51]:
budgets['release_date'] = pd.to_datetime(budgets['release_date'])

In [52]:
budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,425000000,760507625,2776345279
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,2019-06-07,Dark Phoenix,350000000,42762350,149762350
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [53]:
budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   datetime64[ns]
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   int32
 4   domestic_gross     5782 non-null   int32
 5   worldwide_gross    5782 non-null   int64
dtypes: datetime64[ns](1), int32(2), int64(2), object(1)
memory usage: 226.0+ KB

The file tn.movie_budgets.csv is now cleaned, and the data types are all configured for further analysis. 

There could potentially be an issue in the future where we have an issue with the in32 and int64 datatypes of the last 3 columns. If that occurs we can modify the data types at that time.

Saved the cleaned DataFrame to a new file called tn.movie_budgets_clean in the folder ./data/cleaned/

In [54]:
budgets.to_csv("data/cleaned/tn.movie_budgets_clean.csv")